.grid{
    position: absolute;
    width: 1200px;
    height: 600px;
    border: 1px solid;
}


.block{
position: absolute;
 /* margin-left: 3px; */
}

.paddle{
    position: absolute;
    bottom: 10px;
    height: 20px;
    background-color:red;
}

.ball{
    position: absolute;
    background-color:green;
    border-radius: 50%;
}

.block.dead{
    background-color:transparent
}
.lives{
    color: red;
    font-size: 25px;
}