<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="main">
<div class="header">
    <span class="title b">B</span>
    <span class="title r">r</span>
    <span class="title e">e</span>
    <span class="title a">a</span>
    <span class="title k">k</span>
    <span class="title o">o</span>
    <span class="title u">u</span>
    <span class="title t">t</span>
</div>
<form method="get" action="/breakout">
    <div class="difficulty">
        <button name="difficulty" class="diff-easy big-button" type="submit" value="easy">Easy</button><br>
        <button name="difficulty" class="diff-normal big-button" type="submit" value="normal">Normal</button><br>
        <button name="difficulty" class="diff-extreme big-button" type="submit" value="extreme">Extreme</button><br>
    </div>
</form>
</body>
</html>