<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="main">
<div class="container">
<div class="header">
    <span class="title b">Y</span>
    <span class="title r">O</span>
    <span class="title e">U</span>
    <span class="title a"> </span>&nbsp;
    <span class="title k">W</span>
    <span class="title o">O</span>
    <span class="title u">N</span>
    <span class="title t">!</span>
</div>
<form method="get" action="/">
    <div class="difficulty">
        <button name="difficulty" class="diff-extreme big-button" type="submit" value="extreme">Play again</button><br>
    </div>
        <audio autoplay>
        <source src="../static/win.mp3">
    </audio>
</form>
</div>
</body>
</html>